<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/2005/Atom">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- <title>SB Admin 2 - Dashboard</title> -->

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <link href="css/select.css" rel="stylesheet">
    <title>afterglow player</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="css/slider.css" rel="stylesheet" type="text/css">
    <script src="vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/afterglow/latest/afterglow.min.js"></script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="js/watch.js"></script >

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</head>

<body id="page-top" onload ="onLoadFunction()">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <hr class="sidebar-divider">
        <hr class="sidebar-divider">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Teacher Training Tool</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading"></div>


        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link " href="/admin"   >
                <i class="fas fa-fw fa-wrench"></i>
                <span>Administrator page </span>
            </a>

        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <!-- <div class="sidebar-heading">
          Addons
        </div> -->



        <!-- Divider -->
        <!-- <hr class="sidebar-divider d-none d-md-block"> -->

        <!-- Sidebar Toggler (Sidebar) -->
        <!-- <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div> -->

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for ..." aria-label="Search" aria-describedby="basic-addon2" id="aaa">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" onclick="newSearch()">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>

                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - User Information -->



                    <a  th:href="${address2}"   aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Go to another evaluation model</span>
                    </a>
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <a  href="/upload" id="userDropdown"  aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Go to upload page</span>
                    </a>
                    <!-- Dropdown - User Information -->


                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid" id = "rightplace">

                <h2 class ="text-gray-900"  th:text="${title}"></h2>
                <h5 th:text="${abstracts}"></h5>

                <!-- video and analysing panel -->
                <div class="row">

                    <!--video -->
                    <div class="col-xl-8 col-lg-7">

                            <div class="card-body">
                                <video class="afterglow " height="392px" width="700px" id="myvideo"  data-skin="dark">
                                    <source id="video" type="video/mp4" th:src="${address}" />
                                </video>
                            </div>

                    </div>

                    <!--analyse-->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Analyse skills at this panel</h6>

                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div  >
                                    <!-- select one attribute to rate -->

                                    <select  class="custom-select custom-select-sm" id="slct">
                                        <option value="0" selected disabled>Choose skill to rating...</option>

                                        <option th:each="option:${options}" th:value="${option.id}" th:text="${option.oneCriterion}"></option>


                                    </select>

                                    <div style="width:100% ;margin-left: 15px" class="slidecontainer">
                                        <div class = "row" >
                                            <h6 style="margin-left: 15px; margin-top: 40px;">low</h6>
                                            <h6 style="margin-left: 235px; margin-top: 40px;">high</h6>
                                        </div>
                                        <input type="range" min="0" max="10" value="5" class="slider" id="myRange">

                                        <div><h5 style="text-align: center"> Current Score: <span id = "demo"></span></h5></div>

                                        <div>
                                            <input id="btnLoad" class="saverating" type="button" value="save" onclick="saveRating()">
                                        </div>


                                    </div>



                                    <!--div-- style = "margin-left: 75px;">
                                        <div class="select">
                                            <select  name="slct" id="slct">
                                                <option value="0" selected disabled>Choose skill to rating...</option>
                                                <option value="1">Prepares for effective learning</option>
                                                <option value="2">Establishes an environment conduce to learning</option>
                                                <option value="3">Defines the aims and expectation</option>
                                                <option value="4">Communicates effectively with words and gesture</option>
                                                <option value="5">Employs effective questioning techniques </option>
                                                <option value="6">Varies the media and methods of teaching and learning</option>
                                                <option value="7">Connects the content to the children's live and previous learning</option>
                                                <option value="8">Match content and method to children's development </option>

                                            </select>
                                        </div>
                                        <div style="width:100%" class="slidecontainer">
                                            <div class = "row" >
                                                <h6 style=" margin-top: 40px;">low</h6>
                                                <h6 style="margin-left: 275px; margin-top: 40px;">high</h6>
                                            </div>
                                            <input type="range" min="1" max="10" value="5" class="slider" id="myRange">

                                            <div><h5 style="text-align: center"> Current Score: <span id = "demo"></span></h5></div>

                                        </div>


                                    </div-->





                                </div>

                            </div>
                        </div>
                    </div>

                </div>






                <hr/>




                <!--   新加-->


                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                            <h6 class="m-0 font-weight-bold text-primary">My Analysing:</h6>
                        </a>

                        <!-- Card Body -->
                        <div class="collapse show" id="collapseCardExample" style="">
                        <div class="card-body" >
                            <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                <div id = "charParent">
                                    <canvas id="myChart" style="display: block; height: 320px; width: 618px;" width="1236" height="300" class="chartjs-render-monitor"></canvas>
                                </div>
                            </div>
                        </div>
                        </div>

                    </div>



                <h6 class="m-0 font-weight-bold text-primary">See All Analysing: </h6>

                <div style = "margin-top: 5px;" id = "otherRating">





                </div>








                <!-- Content Row -->


            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->


        </div>

        <!-- End of Content Wrapper -->

    </div>
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<!--   <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div> -->

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.js"></script>
<script src="vendor/bootstrap1/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src ="js/script.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>


<script>
    $('select').on('change', '', function (e) {
        var value = this.value;
        console.log("sum string before choice:");
        console.log(sum);

        //check previous attribute
        console.log("The old attribute:")
        console.log(oldvalue);


        // slider has been slid before:
        if(sum.length!= 4 && sum !="0,10;" ) {

            //to avoid the 0 attribute (please choice one skill to rating...)
            if(oldvalue!="0") {

                var r = confirm("Do you want to save the current rating?");
                if (r == true) {
                    var needOld = true;
                    saveRating(needOld);

                } else {
                    console.log("cancel save");
                    console.log(sum);

                }
            }

        }



        var address = document.getElementById("video").src;
        post_data = {"requestedAddress": address, "attribute": value};
        $.ajax({
            url: "/getratings",
            type: "GET",
            data: post_data,
            success: function (data) {
                console.log(data);

                constructEveryRating(data);


            },
        });

        oldvalue = value;
        console.log("the new attribute:");
        console.log(oldvalue);
        var slider = document.getElementById("myRange");
        sum = "0," + slider.value +";";
        console.log("new sum:");
        console.log(sum);

    });
</script>



</body>

</html>
